body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e6f7ff;
    color: #003366;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0099cc;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #0077b3;
}

button {
    background-color: #0099cc;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f80;
}

.oculto {
    display: none;
}

.botones {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
